svg, select {
    margin: 0 auto;
    display: block;
}

path {
    stroke: rgb(70, 145, 214);
    stroke-width: 0.25px;
}

.tooltip {
    opacity: 0;
    position: absolute; /* the absolute positioning will let us control where the div shows up based on where we place our mouse */
    pointer-events: none; /* tell the mouse to ignore the tooltip entirely so that the motion of the tooltip doesn't
    cause the mouse out event to fire  */
    background-color: #B6E7FB;
    border: 2px solid #B6BEFB;
    border-radius: 8px;
    padding: 5px;
  }
  
  .tooltip p {
    margin: 0;
  }
  